<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/sesion.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="correo">Correo</label>
                <input type="correo" name="correo" id="correo">
            </div>
            <div class="form-control">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña">
            </div>
            <button class="btn" type="submit">Iniciar Sesión</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>