#text-content {
  white-space: pre-wrap; /* Permitir saltos de línea y espacios */
  overflow: hidden;
  position: relative;
}

#karaoke-text {
  display: inline-block;
  white-space: pre-wrap; /* Permitir saltos de línea y espacios */
  opacity: 0;
}

#text-content span {
  display: inline-block;
  margin-right: 5px; /* Ajusta el espacio entre palabras según tus preferencias */
}

@keyframes karaokeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
