<%- include('../includes/head.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="/js/karaoke.js"></script>
<link rel="stylesheet" href="/css/karaoke.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container mt-3">
    <h1>Karaoke Start</h1>

    <button class="btn link-btn"id="start">Cuenta Regresiva</button>
    <button onclick="window.location.reload();" class="btn link-btn">Reinicio</button>
    <a href="#" onclick="window.history.back();" class="btn link-btn">Ir hacia atrás</a>
    <div id="countdown"></div>
    <div id="text-content">
      <% for (let i = 0; i < pdfs.length; i++) { %>
        <% if (pdfs[i]._id == data.pdfId) { %>
          <p id="karaoke-text"><%= pdfs[i].content %></p>
        <% } %>
      <% } %>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
</html>
